/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
/* div.ReactTags__tagInput {
  width: 100%;
  border-radius: 2px;
  display: inline-block;
} */
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #fff;
  width: 100%;
  height: calc(2.75rem + 2px);
  font-size: .9em;
  color: #525f7f;
  padding: 1.2rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 0.375rem;
}

/* Styles for selected tags */
div.ReactTags__selected {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  /* grid-template-rows: repeat(auto-fill, 1fr); */
}
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 14px;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}